<h1>My Tasks</h1>


<% @tasks.each do |task| %>
  <div>
    <% if task.completed %>
      <input type="checkbox" id="tasks" checked>
    <% else  %>
      <input type="checkbox" id="tasks">
    <% end %>
    <label for="tasks"><%= link_to "#{task.title}", task_path(task) %>
                       <%= link_to "(DELETE)", task_path(task.id), method: :delete, data: { confirm: "Are you sure?" }  %></label>
  </div>
<% end %>

<p><%= link_to "+ Add New Task", new_task_path %></p>
