// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}
.details-box {
  margin-bottom: 24px;
  background-color: #E6E6E6;
  padding: 16px;
  border-radius: 8px;
}
a {
  color: #108040;
  text-decoration: none;
}
.completed-checkbox {
  margin-bottom: 24px;
}
